<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Blog</title>
</head>
<body>
  <%- include('../partials/header') %>

  <main>
    <h2>Create an Author</h2>
    <form action="/authors" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" />
      <button type="submit">Add Author</button>
    </form>
  </main>

</body>
</html>
